@import "tailwindcss";

:root {
  --background: #ffffff;
  --background: #000000;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

* {
  box-sizing: border-box;
}
